main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main section {
  display: flex;
  flex-direction: column;
}

main section h1 {
  font-size: 50px;
}

main section div {
  display: flex;
}

main section div label {
  display: flex;
  margin: 10px;
  padding: 10px;
}

main section div label p {
  padding: 0 10px;
  font-size: 20px;
}

main section div label input {
  background: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
}

main section div label article {
  background: white;
  font-size: 20px;
  padding: 10px 20px;
  border: 5px solid black;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  letter-spacing: 5px;
}

main section div p {
  font-size: 20px;
}

main section div select {
  background: white;
  margin: 10px;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
}

main section div label button {
  padding: 10px 30px;
  margin: 10px;
  border: 3px solid black;
  border-radius: 30px;
}