@import "./header.scss";
@import "./main.scss";

* {
  background: #f6f4d2;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  align-items: center;
}

body {
  width: 1920px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.caixas {
  display: flex;
  flex-direction: column;
}

.nome {
  width: 500px;
  text-transform: uppercase;
}

.data,
.cpf {
  width: 150px;
}